// Made for a freeCodeCamp challange
// https://www.freecodecamp.org/challenges/build-a-tic-tac-toe-game
app()
  .choice.layout-padding.layout-column Choose your sign:
    .layout-row.flex
      a(href="#").left#signX X
      span#or OR
      a(href="#").right#signO O
.label.layout-row
  span.active#playerX X
  span#playerO O
